In [34]:
import traffic
import pandas as pd 
import os
from traffic.core import Traffic
from biblio_herramienta.herramienta import *
from biblio_herramienta.tratardatos import *
from biblio_herramienta.conflictos import *

In [35]:
carpetaDatos = r'datos_sectores/' # carpeta que contiene los datos
nombreDatos = r"bilbao_f_cluster.csv"
#nombreDatos = r"datos_javi_filtrado.csv"
carpetaImagenes = r"generacion_conflictos/"

In [36]:
vuelos = cargardatos(carpetaDatos,nombreDatos)
vuelos.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683506 entries, 0 to 683505
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       683506 non-null  int64
 1   Unnamed: 0.1     683506 non-null  int64
 2   Unnamed: 0.1.1   683506 non-null  int64
 3   alert            683506 non-null  bool
 4   altitude         683506 non-null  float64
 5   callsign         683506 non-null  object
 6   geoaltitude      683506 non-null  float64
 7   groundspeed      683506 non-null  float64
 8   hour             683506 non-null  datetime64[ns, UTC]
 9   icao24           683506 non-null  object
 10  last_position    683506 non-null  datetime64[ns, UTC]
 11  latitude         683506 non-null  float64
 12  longitude        683506 non-null  float64
 13  onground         683506 non-null  bool
 14  spi              683506 non-null  bool
 15  squawk           683506 non-null  float64
 16  timestamp        683506 non-null  datetime64[ns, UTC]
 17  track            683506 non-null  float64
 18  vertical_rate    683506 non-null  float64
 19  flight_id        683506 non-null  object
 20  track_unwrapped  683506 non-null  float64
 21  cluster          683506 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(4), object(3)
memory usage: 101.0+ MB

# 1. Imponer que las aeronaves esten todas en el sector al mismo tiempo
Ahora se genera un funci√≥n que hace las aeronaves pasen por el sector al mismo tiempo, es decir, que empiecen todas a la vez

In [37]:
vuelosp = vuelos.data.copy()
vuelosp = Traffic(vuelosp)
vuelosp = origenmismoinstante(vuelosp)
vuelosp.data

/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  timestamp = pd.Series([])

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,alert,altitude,callsign,geoaltitude,groundspeed,hour,icao24,...,longitude,onground,spi,squawk,timestamp,track,vertical_rate,flight_id,track_unwrapped,cluster
0,840,1886933,13878,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.974840,False,False,2161.0,2019-01-31 00:00:00+00:00,187.314737,-64.0,IBE31AA_123,187.314737,3
1,841,1886945,13879,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975376,False,False,2161.0,2019-01-31 00:00:01+00:00,187.081212,-64.0,IBE31AA_123,187.081212,3
2,842,1886962,13880,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975612,False,False,2161.0,2019-01-31 00:00:02+00:00,186.950112,-64.0,IBE31AA_123,186.950112,3
3,843,1886967,13881,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975939,False,False,2161.0,2019-01-31 00:00:03+00:00,186.716705,-64.0,IBE31AA_123,186.716705,3
4,844,1886978,13882,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.976528,False,False,2161.0,2019-01-31 00:00:04+00:00,186.236442,-64.0,IBE31AA_123,186.236442,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683501,1234818,527056,954,False,38725.0,N302AK,39350.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.638354,False,False,7466.0,2019-01-31 00:15:54+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683502,1234819,527066,955,False,38750.0,N302AK,39375.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.637765,False,False,7466.0,2019-01-31 00:15:55+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683503,1234820,527072,956,False,38775.0,N302AK,39400.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.637569,False,False,7466.0,2019-01-31 00:15:56+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683504,1234821,527075,957,False,38800.0,N302AK,39425.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.636853,False,False,7466.0,2019-01-31 00:15:57+00:00,9.138849,1472.0,N302AK_1779,9.138849,4
683505,1234822,527082,958,False,38825.0,N302AK,39450.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.636457,False,False,7466.0,2019-01-31 00:15:58+00:00,9.138849,1472.0,N302AK_1779,9.138849,4

In [38]:
vuelosp.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683506 entries, 0 to 683505
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       683506 non-null  int64
 1   Unnamed: 0.1     683506 non-null  int64
 2   Unnamed: 0.1.1   683506 non-null  int64
 3   alert            683506 non-null  bool
 4   altitude         683506 non-null  float64
 5   callsign         683506 non-null  object
 6   geoaltitude      683506 non-null  float64
 7   groundspeed      683506 non-null  float64
 8   hour             683506 non-null  datetime64[ns, UTC]
 9   icao24           683506 non-null  object
 10  last_position    683506 non-null  datetime64[ns, UTC]
 11  latitude         683506 non-null  float64
 12  longitude        683506 non-null  float64
 13  onground         683506 non-null  bool
 14  spi              683506 non-null  bool
 15  squawk           683506 non-null  float64
 16  timestamp        683506 non-null  datetime64[ns, UTC]
 17  track            683506 non-null  float64
 18  vertical_rate    683506 non-null  float64
 19  flight_id        683506 non-null  object
 20  track_unwrapped  683506 non-null  float64
 21  cluster          683506 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(4), object(3)
memory usage: 101.0+ MB

In [ ]:
vuelosp.data.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1' ],axis = 1,inplace = True)
vuelos.data.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1' ],axis = 1,inplace = True)

# 2. Creaci√≥n de parejas

In [39]:
pairs = crearparejas(vuelosp)

In [40]:
pairs

               ave1         ave2
0       IBE31AA_123  AFR149H_346
1       IBE31AA_123  IBE31CW_128
2       IBE31AA_123   RAM804_004
3       IBE31AA_123   RAM803_010
4       IBE31AA_123  IBE31YL_129
...             ...          ...
463075  N302AK_1779  LGL782_1762
463076  N302AK_1779  LGL60L_1763
463077  N302AK_1779  LGL60L_1764
463078  N302AK_1779  LGL312_1767
463079  N302AK_1779  VJT585_1768

[463080 rows x 2 columns]

# 3. Agrupaci√≥n de los pares de las aeronaves en la BBDD

In [41]:
datos_fil = generadorDFconflictos(vuelosp,pairs)

Tras este proceso se recomienda guardar la BBDD por el tiempo que tarda en ejecutarse

In [42]:
try:
    datos_fil.drop(['Unnamed: 0_1','Unnamed: 0.1_1','Unnamed: 0.1_2','Unnamed: 0_2'],axis = 1, inplace = True)
except:
    pass

In [43]:
datos_fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463080 entries, 0 to 463079
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ave1               463080 non-null  object
 1   ave2               463080 non-null  object
 2   Unnamed: 0.1.1_1   1 non-null       float64
 3   altitude_1         1 non-null       float64
 4   geoaltitude_1      1 non-null       float64
 5   groundspeed_1      1 non-null       float64
 6   latitude_1         1 non-null       float64
 7   longitude_1        1 non-null       float64
 8   timestamp_1        1 non-null       datetime64[ns, UTC]
 9   track_1            1 non-null       float64
 10  vertical_rate_1    1 non-null       float64
 11  track_unwrapped_1  1 non-null       float64
 12  cluster_1          1 non-null       float64
 13  Unnamed: 0.1.1_2   1 non-null       float64
 14  altitude_2         1 non-null       float64
 15  geoaltitude_2      1 non-null       float64
 16  groundspeed_2      1 non-null       float64
 17  latitude_2         1 non-null       float64
 18  longitude_2        1 non-null       float64
 19  timestamp_2        1 non-null       datetime64[ns, UTC]
 20  track_2            1 non-null       float64
 21  vertical_rate_2    1 non-null       float64
 22  track_unwrapped_2  1 non-null       float64
 23  cluster_2          1 non-null       float64
dtypes: datetime64[ns, UTC](2), float64(20), object(2)
memory usage: 84.8+ MB

# 4. Calculo de las magnitudes relativas

In [44]:
datos_fil = calculomagnitudesrelativas(datos_fil)

In [45]:
datos_fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463080 entries, 0 to 463079
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ave1                463080 non-null  object
 1   ave2                463080 non-null  object
 2   Unnamed: 0.1.1_1    1 non-null       float64
 3   altitude_1          1 non-null       float64
 4   geoaltitude_1       1 non-null       float64
 5   groundspeed_1       1 non-null       float64
 6   latitude_1          1 non-null       float64
 7   longitude_1         1 non-null       float64
 8   timestamp_1         1 non-null       datetime64[ns, UTC]
 9   track_1             1 non-null       float64
 10  vertical_rate_1     1 non-null       float64
 11  track_unwrapped_1   1 non-null       float64
 12  cluster_1           1 non-null       float64
 13  Unnamed: 0.1.1_2    1 non-null       float64
 14  altitude_2          1 non-null       float64
 15  geoaltitude_2       1 non-null       float64
 16  groundspeed_2       1 non-null       float64
 17  latitude_2          1 non-null       float64
 18  longitude_2         1 non-null       float64
 19  timestamp_2         1 non-null       datetime64[ns, UTC]
 20  track_2             1 non-null       float64
 21  vertical_rate_2     1 non-null       float64
 22  track_unwrapped_2   1 non-null       float64
 23  cluster_2           1 non-null       float64
 24  Init separation     1 non-null       float64
 25  Init acimut         1 non-null       float64
 26  Var GS Module       1 non-null       float64
 27  Var Track           1 non-null       float64
 28  Var init altitude   1 non-null       float64
 29  Var Vertical speed  1 non-null       float64
dtypes: datetime64[ns, UTC](2), float64(26), object(2)
memory usage: 106.0+ MB

In [61]:
datos_fil

,ave1,ave2,Unnamed: 0.1.1_1,altitude_1,geoaltitude_1,groundspeed_1,latitude_1,longitude_1,timestamp_1,track_1,...,cluster_2,Init separation,Init acimut,Var GS Module,Var Track,Var init altitude,Var Vertical speed,Conflicto,MinDis,Timetoconf
0,IBE31AA_123,AFR149H_346,13878.0,35025.0,35000.0,487.0,44.375129,-3.97484,2019-01-31 00:00:00+00:00,187.314737,...,6.0,104.868237,-156.321253,912.002645,163.942628,-975.0,-64.0,0,10.0,10000
1,IBE31AA_123,IBE31CW_128,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
2,IBE31AA_123,RAM804_004,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
3,IBE31AA_123,RAM803_010,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
4,IBE31AA_123,IBE31YL_129,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463075,N302AK_1779,LGL782_1762,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
463076,N302AK_1779,LGL60L_1763,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
463077,N302AK_1779,LGL60L_1764,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
463078,N302AK_1779,LGL312_1767,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000
463079,N302AK_1779,VJT585_1768,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10.0,10000

In [49]:
guardarcsv(datos_fil,"datos_f_c_pares_relativo")

# 5. Aplicaci√≥n de CPA
El CPA se aplocar√° al objeto de Traffic del se viene inicialemente

In [46]:
vuelosp.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683506 entries, 0 to 683505
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       683506 non-null  int64
 1   Unnamed: 0.1     683506 non-null  int64
 2   Unnamed: 0.1.1   683506 non-null  int64
 3   alert            683506 non-null  bool
 4   altitude         683506 non-null  float64
 5   callsign         683506 non-null  object
 6   geoaltitude      683506 non-null  float64
 7   groundspeed      683506 non-null  float64
 8   hour             683506 non-null  datetime64[ns, UTC]
 9   icao24           683506 non-null  object
 10  last_position    683506 non-null  datetime64[ns, UTC]
 11  latitude         683506 non-null  float64
 12  longitude        683506 non-null  float64
 13  onground         683506 non-null  bool
 14  spi              683506 non-null  bool
 15  squawk           683506 non-null  float64
 16  timestamp        683506 non-null  datetime64[ns, UTC]
 17  track            683506 non-null  float64
 18  vertical_rate    683506 non-null  float64
 19  flight_id        683506 non-null  object
 20  track_unwrapped  683506 non-null  float64
 21  cluster          683506 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(4), object(3)
memory usage: 101.0+ MB

In [48]:
vuelos.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683506 entries, 0 to 683505
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       683506 non-null  int64
 1   Unnamed: 0.1     683506 non-null  int64
 2   Unnamed: 0.1.1   683506 non-null  int64
 3   alert            683506 non-null  bool
 4   altitude         683506 non-null  float64
 5   callsign         683506 non-null  object
 6   geoaltitude      683506 non-null  float64
 7   groundspeed      683506 non-null  float64
 8   hour             683506 non-null  datetime64[ns, UTC]
 9   icao24           683506 non-null  object
 10  last_position    683506 non-null  datetime64[ns, UTC]
 11  latitude         683506 non-null  float64
 12  longitude        683506 non-null  float64
 13  onground         683506 non-null  bool
 14  spi              683506 non-null  bool
 15  squawk           683506 non-null  float64
 16  timestamp        683506 non-null  datetime64[ns, UTC]
 17  track            683506 non-null  float64
 18  vertical_rate    683506 non-null  float64
 19  flight_id        683506 non-null  object
 20  track_unwrapped  683506 non-null  float64
 21  cluster          683506 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(4), object(3)
memory usage: 101.0+ MB

In [50]:
CPA = vuelos.closest_point_of_approach(lateral_separation = 10*1852, vertical_separation = 2000)

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/algorithms/cpa.py:151: DeprecationWarning: The 'warn' function is deprecated, use 'warning' instead
  logging.warn("Defaulting to projection EuroPP()")
WARNING:root:Defaulting to projection EuroPP()

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=77.0, style=ProgressStyle(description_‚Ä¶

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=222.0, style=ProgressStyle(description‚Ä¶

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=231.0, style=ProgressStyle(description‚Ä¶

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=163.0, style=ProgressStyle(description‚Ä¶

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")

In [51]:
guardarcsv(CPA,"datos_cpa_bilbao")
CPA

,timestamp,latitude_x,longitude_x,altitude_x,icao24_x,callsign_x,flight_id_x,latitude_y,longitude_y,altitude_y,icao24_y,callsign_y,flight_id_y,lateral,vertical
0,2019-02-05 08:16:25+00:00,44.373314,-3.978391,38975.0,406f26,IBK2402,IBK2402_621,43.651932,-4.018824,37000.0,4ca9cf,RYR5JC,RYR5JC_1652,43.315389,1975.0
1,2019-02-05 08:16:26+00:00,44.371079,-3.978860,39000.0,406f26,IBK2402,IBK2402_621,43.651932,-4.018824,37000.0,4ca9cf,RYR5JC,RYR5JC_1652,43.180611,2000.0
2,2019-02-05 08:16:27+00:00,44.369110,-3.979274,39000.0,406f26,IBK2402,IBK2402_621,43.647675,-4.019144,37000.0,4ca9cf,RYR5JC,RYR5JC_1652,43.317590,2000.0
3,2019-02-05 08:16:28+00:00,44.367279,-3.979601,39000.0,406f26,IBK2402,IBK2402_621,43.645935,-4.019271,37000.0,4ca9cf,RYR5JC,RYR5JC_1652,43.311747,2000.0
4,2019-02-05 08:16:29+00:00,44.365260,-3.980065,39000.0,406f26,IBK2402,IBK2402_621,43.645004,-4.019361,37000.0,4ca9cf,RYR5JC,RYR5JC_1652,43.245886,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,2019-02-07 18:54:10+00:00,44.366750,-3.960370,36000.0,49d006,TVS3571,TVS3571_1167,43.982620,-4.201057,38000.0,484f3a,TFL450,TFL450_986,25.281838,2000.0
951,2019-02-07 18:54:11+00:00,44.368378,-3.958936,36000.0,49d006,TVS3571,TVS3571_1167,43.984039,-4.200227,38000.0,484f3a,TFL450,TFL450_986,25.303868,2000.0
952,2019-02-07 18:54:12+00:00,44.370009,-3.957490,36000.0,49d006,TVS3571,TVS3571_1167,43.985766,-4.199132,38000.0,484f3a,TFL450,TFL450_986,25.304749,2000.0
953,2019-02-07 18:54:13+00:00,44.371674,-3.956059,36000.0,49d006,TVS3571,TVS3571_1167,43.987518,-4.198055,38000.0,484f3a,TFL450,TFL450_986,25.306188,2000.0
954,2019-02-07 18:54:14+00:00,44.371674,-3.956059,36000.0,49d006,TVS3571,TVS3571_1167,43.988892,-4.197224,38000.0,484f3a,TFL450,TFL450_986,25.216295,2000.0

In [52]:
pairs_CPA = paresconconflictos(CPA)

In [54]:
# Una vez que tenemos todas aquellas aeronaves que son pareja y tienen los datos hay que incluir los indicadores
Datos_fil_con = datos_fil
# Lo primero es generar una columna nueva que se llame conflictos en los datos filtrados que se rellene de 0
Datos_fil_con["Conflicto"] = 0
# Para la distancia ponemos un 10 como el peor caso
Datos_fil_con["MinDis"] = 10
# Para el tiempo ponemos un 10000 como hemos puesto en los otros para que no genere problema 
Datos_fil_con["Timetoconf"] = 10000

#Hay que construir una funci√≥n que detecte las parejas de aeronaves que tienen un conflicto y cambien el 0 a un 1

In [55]:
BBDD = mod_conflictos(pairs_CPA, Datos_fil_con)
# Una vez introducidos los conflictos comprobamos que estas filas lo cumplen
BBDD.loc[(BBDD['Conflicto'] == 1)]

Int64Index([283119], dtype='int64')
Int64Index([286401], dtype='int64')

/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['Conflicto'][Datos_fil_con_ave1_ave2.index] = 1
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:226: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['MinDis'][Datos_fil_con_ave1_ave2.index] = Minsep
/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['Timetoconf'][Datos_fil_con_ave1_ave2.index] = TTC

,ave1,ave2,Unnamed: 0.1.1_1,altitude_1,geoaltitude_1,groundspeed_1,latitude_1,longitude_1,timestamp_1,track_1,...,cluster_2,Init separation,Init acimut,Var GS Module,Var Track,Var init altitude,Var Vertical speed,Conflicto,MinDis,Timetoconf
283119,TAP436G_1157,BAW492U_643,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.589186,34967
286401,TVP7307_1170,EWG5RF_445,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.956521,55068

In [56]:
BBDD_2 = BBDD
var_eliminar = ['ave1', 'ave2', 'groundspeed_1', 'timestamp_1', 'vertical_rate_1', 'track_1', 'altitude_2', 'geoaltitude_2',
                'latitude_2', 'longitude_2','timestamp_2','groundspeed_2','track_2','vertical_rate_2']
BBDD_2 = BBDD_2.drop(var_eliminar, axis = 'columns')

In [57]:
BBDD_2.loc[(BBDD_2['Conflicto'] == 1)]

,Unnamed: 0.1.1_1,altitude_1,geoaltitude_1,latitude_1,longitude_1,track_unwrapped_1,cluster_1,Unnamed: 0.1.1_2,track_unwrapped_2,cluster_2,Init separation,Init acimut,Var GS Module,Var Track,Var init altitude,Var Vertical speed,Conflicto,MinDis,Timetoconf
283119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.589186,34967
286401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.956521,55068

In [58]:
# Vamos a determinar losflujos de tr√°fico en los que se producen cruces
con = BBDD_2.loc[(BBDD_2['Conflicto'] == 1)]
columnas = ['cluster_1', 'cluster_2']
# Podemos obtener los flujos que han presentado alg√∫n conflicto, se trata de valores √∫nicos por lo que podr√≠amos trabajar solo con estos
flujos_con_cruce = con[columnas].drop_duplicates()
# Por ejemplo si quiero trabajar con un flujo en particular tengo que seleccionar los valorers de una columna
Flujo_1 = flujos_con_cruce.iloc[0]
# Donde Flujo_1 es el vector que contiene los flujos a considerar y Flujo_1['cluster_1'] y Flujo_2['cluster_2'] nos indica a que flujos pertenecen

In [59]:
BBDD_Flujos = BBDD_2.loc[BBDD_2['cluster_1'] == Flujo_1['cluster_1']]
BBDD_Flujos = BBDD_Flujos.loc[BBDD_2['cluster_2'] == Flujo_1['cluster_2']]
BBDD_Flujos['cluster_2']

Series([], Name: cluster_2, dtype: float64)

In [60]:
# Si no el siguiente paso ser√≠a obtener una matriz para cada uno de los flujos conflictos para que se automatice
# Aqu√≠ lo estamos calculando para las aeronaves del flujo 1 con el 0 por ejemplo, pero del 0 al 1 es otro flujo
j = 1
for i, flow in flujos_con_cruce.iterrows():
    # Seleccionamos de la BBDD las filas que cumplen el cluster_1
    filas_1 = BBDD_2.loc[BBDD_2['cluster_1'] == flow['cluster_1']]
    # Seleccionamos del primer filtrado las filas que cumplen el cluster_2
    filas_2 = filas_1.loc[filas_1['cluster_2'] == flow['cluster_2']]
    # Le damos un nombre con un n√∫mero distinto a cada una de las matrices
    exec('Flujos{} = filas_2'.format(j))
    j = j + 1
# Con este paso ya hemos conseguido programar la subdivisi√≥n de los flujos para que lo haga de golpe y nos saquen tantas matrices como necesitamos

#############################################################################

CPA = vuelosp.closest_point_of_approach(lateral_separation = 10*1852, vertical_separation = 2000)

datos_fil = datosrellenados(datos1,datos2)

guardar(datos2,"Datos_ave2")

"""
def generadorDFconflictos(datos,pares):
    if not isinstance(datos,Traffic):
        datos = Traffic(datos)
    Datos_ave1 = datos.data.iloc[0:0]
    Datos_ave2 = datos.data.iloc[0:0]
    for index, row in pairs.iterrows():
        # Seleccionamos cada una de las aeronaves que aparecen en las parejas
        tray_ave1 = datos[row['ave1']].data
        tray_ave2 = datos[row['ave2']].data
        #Obtenemos los datos de entrada de cada aeronave
        init_values_ave1 = tray_ave1.iloc[0]
        init_values_ave2 = tray_ave2.iloc[0]
        # Metemos esta informaci√≥n en un DataFrame para cada aeronave
        Datos_ave1 = Datos_ave1.append(init_values_ave1)
        Datos_ave2 = Datos_ave2.append(init_values_ave2)
    return Datos_ave1, Datos_ave2
"""

def guardar(archivo, nombre_archivo ):
    # esta funciona genera una carpeta sino existe, y guarda los datos descargados en esta
    # guarda el archivo .csv en la carpeta especificada
    carpeta_datos_csv = r"datos_sectores/generacion_conflictos_prueba/"
    archivo.to_csv(carpeta_datos_csv+nombre_archivo+".csv")

def calculomagnitudesrelativas1(datos):
    # Toda la informaci√≥n que necesitamos para ssaber como funciona es https://living-sun.com/es/python/693845-geopy-calculating-gps-heading-bearing-python-python-3x-gps-geo-geopy.html
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        geo_calc = Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(geo_calc['s12']/1852)
        acimut.append(geo_calc['azi1'])

    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Init separation'] = dist2
    datos['Init acimut'] = acimut
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        data= Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(data['s12']/1852)
        acimut.append(data['azi1'])
    
    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Init separation'] = dist2
    datos['Init acimut'] = acimut
    from math import radians, sqrt, cos, sin

    Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_track = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
        track1, track2 = row['track_1'], row['track_2']
        # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
        Var_angle = track1 - track2
        # Calculamos la variaci√≥n de la velocidad en m√≥dulo
        vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
        vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
        Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
        # Introducimos los valores de velocidad relativa en m√≥dulo y de track
        Var_vel_mod.append(Var_vel)
        Var_track.append(Var_angle)
        # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Var GS Module'] = Var_vel_mod
    datos['Var Track'] = Var_track

    Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
        alt1, alt2 = row['altitude_1'], row['altitude_2']
        hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
        # Calculamos la variaci√≥n de altitude y de velocidad vertical
        Var_alt = alt1 - alt2
        Var_speed = hspeed_1 - hspeed_2
        # Introducimos los valores de altitud y de velocidad relativa
        Var_altitude.append(Var_alt)
        Var_Vertical_speed.append(Var_speed)

    # Introducimos las variables de variaci√≥n de altitud y de vertical speed
    datos['Var init altitude'] = Var_altitude
    datos['Var Vertical speed'] = Var_Vertical_speed
    return datos

def calculomagnitudesrelativas(datos):
    Datos_fil = datos
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        data= Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(data['s12']/1852)
        acimut.append(data['azi1'])
    
    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    Datos_fil['Init separation'] = dist2
    Datos_fil['Init acimut'] = acimut
    from math import radians, sqrt, cos, sin

    Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_track = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
        track1, track2 = row['track_1'], row['track_2']
        # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
        Var_angle = track1 - track2
        # Calculamos la variaci√≥n de la velocidad en m√≥dulo
        vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
        vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
        Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
        # Introducimos los valores de velocidad relativa en m√≥dulo y de track
        Var_vel_mod.append(Var_vel)
        Var_track.append(Var_angle)
        # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    Datos_fil['Var GS Module'] = Var_vel_mod
    Datos_fil['Var Track'] = Var_track

    Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
        alt1, alt2 = row['altitude_1'], row['altitude_2']
        hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
        # Calculamos la variaci√≥n de altitude y de velocidad vertical
        Var_alt = alt1 - alt2
        Var_speed = hspeed_1 - hspeed_2
        # Introducimos los valores de altitud y de velocidad relativa
        Var_altitude.append(Var_alt)
        Var_Vertical_speed.append(Var_speed)

    # Introducimos las variables de variaci√≥n de altitud y de vertical speed
    Datos_fil['Var init altitude'] = Var_altitude
    Datos_fil['Var Vertical speed'] = Var_Vertical_speed
    return Datos_fil

guardar(datos1,"Datos_ave1")

from math import radians, sqrt, cos, sin

Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
Var_track = []    # Variacion del track entre ambas aeronaves
# Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
for index, row in Datos_fil.iterrows():
    # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
    vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
    track1, track2 = row['track_1'], row['track_2']
    # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
    Var_angle = track1 - track2
    # Calculamos la variaci√≥n de la velocidad en m√≥dulo
    vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
    vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
    Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
    # Introducimos los valores de velocidad relativa en m√≥dulo y de track
    Var_vel_mod.append(Var_vel)
    Var_track.append(Var_angle)
    
# La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
# Introducimos la variable distance en el DataFrame
Datos_fil['Var GS Module'] = Var_vel_mod
Datos_fil['Var Track'] = Var_track

Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
# Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
for index, row in Datos_fil.iterrows():
    # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
    alt1, alt2 = row['altitude_1'], row['altitude_2']
    hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
    # Calculamos la variaci√≥n de altitude y de velocidad vertical
    Var_alt = alt1 - alt2
    Var_speed = hspeed_1 - hspeed_2
    # Introducimos los valores de altitud y de velocidad relativa
    Var_altitude.append(Var_alt)
    Var_Vertical_speed.append(Var_speed)
    
# Introducimos las variables de variaci√≥n de altitud y de vertical speed
Datos_fil['Var init altitude'] = Var_altitude
Datos_fil['Var Vertical speed'] = Var_Vertical_speed

def datosrellenados(datos1,datos2):
    Datos_ave1 = datos1
    Datos_ave2 = datos2
    columnas = ["alert", "callsign", "hour", "icao24", "last_position", "onground", "spi", "squawk"]
    Datos_fil_ave1 = Datos_ave1.drop(columns = columnas)
    Datos_fil_ave2 = Datos_ave2.drop(columns = columnas)

    # Tenemos que reiniciar los indices para que coincidan
    Datos_fil_ave2.index = range(Datos_fil_ave2.shape[0])
    Datos_fil_ave1.index = range(Datos_fil_ave1.shape[0])

    # Lo vamos ambas en el mismo dataFrame y lo unimos finalmente con el pairs que contienen los pares de aeronaves
    Datos_fil = Datos_fil_ave1.join(Datos_fil_ave2, lsuffix= '_1', rsuffix = '_2')
    Datos_fil = pairs.join(Datos_fil)

    # Una vez comproado que funcion vamos a eliminar las columans de flight_id_1 y flight_id_2 para que no se repitan
    Datos_fil = Datos_fil.drop(columns = ['flight_id_1', 'flight_id_2'])
    return Datos_fil