In [1]:
import traffic
import pandas as pd 
import os
from traffic.core import Traffic
from biblio_herramienta.herramienta import *
from biblio_herramienta.tratardatos import *
from biblio_herramienta.conflictos import *

In [2]:
carpetaDatos = r'datos_sectores/' # carpeta que contiene los datos
#nombreDatos = r"bilbao_f_cluster.csv"
nombreDatos = r"datos_javi_filtrado.csv"
carpetaImagenes = r"generacion_conflictos/"

In [3]:
vuelos = cargardatos(carpetaDatos,nombreDatos)
vuelos.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66743 entries, 0 to 66742
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       66743 non-null  int64
 1   Unnamed: 0.1     66743 non-null  int64
 2   alert            66743 non-null  bool
 3   altitude         66743 non-null  float64
 4   callsign         66743 non-null  object
 5   geoaltitude      66743 non-null  float64
 6   groundspeed      66743 non-null  float64
 7   hour             66743 non-null  datetime64[ns, UTC]
 8   icao24           66743 non-null  object
 9   last_position    66743 non-null  datetime64[ns, UTC]
 10  latitude         66743 non-null  float64
 11  longitude        66743 non-null  float64
 12  onground         66743 non-null  bool
 13  spi              66743 non-null  bool
 14  squawk           66743 non-null  float64
 15  timestamp        66743 non-null  datetime64[ns, UTC]
 16  track            66743 non-null  float64
 17  vertical_rate    66743 non-null  float64
 18  flight_id        66743 non-null  object
 19  track_unwrapped  66743 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(2), object(3)
memory usage: 8.8+ MB

# 1. Imponer que las aeronaves esten todas en el sector al mismo tiempo
Ahora se genera un funci√≥n que hace las aeronaves pasen por el sector al mismo tiempo, es decir, que empiecen todas a la vez

In [4]:
vuelosp = vuelos.data.copy()
vuelosp = Traffic(vuelosp)
vuelosp = origenmismoinstante(vuelosp)
vuelosp.data

/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  timestamp = pd.Series([])

,Unnamed: 0,Unnamed: 0.1,alert,altitude,callsign,geoaltitude,groundspeed,hour,icao24,last_position,latitude,longitude,onground,spi,squawk,timestamp,track,vertical_rate,flight_id,track_unwrapped
0,0,1295,False,39975.0,RAM716X,40500.0,442.448485,2019-01-02 08:00:00+00:00,020072,2019-01-02 08:41:34.633999872+00:00,42.979912,-3.151376,False,False,6433.0,2018-12-31 00:00:00+00:00,13.062560,0.0,RAM716X_001,13.062560
1,1,1296,False,39975.0,RAM716X,40500.0,442.448485,2019-01-02 08:00:00+00:00,020072,2019-01-02 08:41:35.244000+00:00,42.981076,-3.150984,False,False,6433.0,2018-12-31 00:00:01+00:00,13.062560,0.0,RAM716X_001,13.062560
2,2,1297,False,39975.0,RAM716X,40500.0,442.448485,2019-01-02 08:00:00+00:00,020072,2019-01-02 08:41:36.813999872+00:00,42.984283,-3.149946,False,False,6433.0,2018-12-31 00:00:02+00:00,13.062560,0.0,RAM716X_001,13.062560
3,3,1298,False,39975.0,RAM716X,40500.0,442.448485,2019-01-02 08:00:00+00:00,020072,2019-01-02 08:41:36.813999872+00:00,42.984283,-3.149946,False,False,6433.0,2018-12-31 00:00:03+00:00,13.062560,0.0,RAM716X_001,13.062560
4,4,1299,False,39975.0,RAM716X,40500.0,442.448485,2019-01-02 08:00:00+00:00,020072,2019-01-02 08:41:38.867999744+00:00,42.988245,-3.148695,False,False,6433.0,2018-12-31 00:00:04+00:00,13.062560,0.0,RAM716X_001,13.062560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66738,272,2010,False,31000.0,ROU1915,31625.0,459.712557,2019-01-02 13:00:00+00:00,c02209,2019-01-02 13:00:54.926000128+00:00,43.340413,-3.168509,False,False,471.0,2018-12-31 00:04:34+00:00,281.798792,0.0,ROU1915_267,281.798792
66739,273,2011,False,31000.0,ROU1915,31625.0,459.712557,2019-01-02 13:00:00+00:00,c02209,2019-01-02 13:00:55.957999872+00:00,43.340836,-3.171344,False,False,471.0,2018-12-31 00:04:35+00:00,281.798792,0.0,ROU1915_267,281.798792
66740,274,2012,False,31000.0,ROU1915,31625.0,459.712557,2019-01-02 13:00:00+00:00,c02209,2019-01-02 13:00:55.957999872+00:00,43.340836,-3.171344,False,False,471.0,2018-12-31 00:04:36+00:00,281.798792,0.0,ROU1915_267,281.798792
66741,275,2013,False,31000.0,ROU1915,31625.0,459.712557,2019-01-02 13:00:00+00:00,c02209,2019-01-02 13:00:55.957999872+00:00,43.340836,-3.171344,False,False,471.0,2018-12-31 00:04:37+00:00,281.798792,0.0,ROU1915_267,281.798792
66742,276,2014,False,31000.0,ROU1915,31625.0,459.712557,2019-01-02 13:00:00+00:00,c02209,2019-01-02 13:00:55.957999872+00:00,43.340836,-3.171344,False,False,471.0,2018-12-31 00:04:38+00:00,281.798792,0.0,ROU1915_267,281.798792

In [5]:
vuelosp.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66743 entries, 0 to 66742
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       66743 non-null  int64
 1   Unnamed: 0.1     66743 non-null  int64
 2   alert            66743 non-null  bool
 3   altitude         66743 non-null  float64
 4   callsign         66743 non-null  object
 5   geoaltitude      66743 non-null  float64
 6   groundspeed      66743 non-null  float64
 7   hour             66743 non-null  datetime64[ns, UTC]
 8   icao24           66743 non-null  object
 9   last_position    66743 non-null  datetime64[ns, UTC]
 10  latitude         66743 non-null  float64
 11  longitude        66743 non-null  float64
 12  onground         66743 non-null  bool
 13  spi              66743 non-null  bool
 14  squawk           66743 non-null  float64
 15  timestamp        66743 non-null  datetime64[ns, UTC]
 16  track            66743 non-null  float64
 17  vertical_rate    66743 non-null  float64
 18  flight_id        66743 non-null  object
 19  track_unwrapped  66743 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(2), object(3)
memory usage: 8.8+ MB

vuelosp = vuelosp.data.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1' ],axis = 1)

# 2. Creaci√≥n de parejas

In [6]:
pairs = crearparejas(vuelosp)

In [7]:
pairs

              ave1         ave2
0      RAM716X_001   MAC103_002
1      RAM716X_001   MSR985_000
2      RAM716X_001   RAM802_003
3      RAM716X_001  FRV0906_004
4      RAM716X_001  RAM800F_005
...            ...          ...
71551  ROU1915_267   UAL121_262
71552  ROU1915_267    AAL67_263
71553  ROU1915_267    AAL67_264
71554  ROU1915_267   DAL477_265
71555  ROU1915_267  ROU1914_266

[71556 rows x 2 columns]

# 3. Agrupaci√≥n de los pares de las aeronaves en la BBDD

In [8]:
datos_fil = generadorDFconflictos(vuelosp,pairs)

Tras este proceso se recomienda guardar la BBDD por el tiempo que tarda en ejecutarse

In [9]:
datos_fil.drop(['Unnamed: 0_1','Unnamed: 0.1_1','Unnamed: 0.1_2','Unnamed: 0_2'],axis = 1, inplace = True)

In [10]:
datos_fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71556 entries, 0 to 71555
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ave1               71556 non-null  object
 1   ave2               71556 non-null  object
 2   altitude_1         1 non-null      float64
 3   geoaltitude_1      1 non-null      float64
 4   groundspeed_1      1 non-null      float64
 5   latitude_1         1 non-null      float64
 6   longitude_1        1 non-null      float64
 7   timestamp_1        1 non-null      datetime64[ns, UTC]
 8   track_1            1 non-null      float64
 9   vertical_rate_1    1 non-null      float64
 10  track_unwrapped_1  1 non-null      float64
 11  altitude_2         1 non-null      float64
 12  geoaltitude_2      1 non-null      float64
 13  groundspeed_2      1 non-null      float64
 14  latitude_2         1 non-null      float64
 15  longitude_2        1 non-null      float64
 16  timestamp_2        1 non-null      datetime64[ns, UTC]
 17  track_2            1 non-null      float64
 18  vertical_rate_2    1 non-null      float64
 19  track_unwrapped_2  1 non-null      float64
dtypes: datetime64[ns, UTC](2), float64(16), object(2)
memory usage: 10.9+ MB

# 4. Calculo de las magnitudes relativas

In [11]:
datos_fil = calculomagnitudesrelativas(datos_fil)

In [12]:
datos_fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71556 entries, 0 to 71555
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ave1                71556 non-null  object
 1   ave2                71556 non-null  object
 2   altitude_1          1 non-null      float64
 3   geoaltitude_1       1 non-null      float64
 4   groundspeed_1       1 non-null      float64
 5   latitude_1          1 non-null      float64
 6   longitude_1         1 non-null      float64
 7   timestamp_1         1 non-null      datetime64[ns, UTC]
 8   track_1             1 non-null      float64
 9   vertical_rate_1     1 non-null      float64
 10  track_unwrapped_1   1 non-null      float64
 11  altitude_2          1 non-null      float64
 12  geoaltitude_2       1 non-null      float64
 13  groundspeed_2       1 non-null      float64
 14  latitude_2          1 non-null      float64
 15  longitude_2         1 non-null      float64
 16  timestamp_2         1 non-null      datetime64[ns, UTC]
 17  track_2             1 non-null      float64
 18  vertical_rate_2     1 non-null      float64
 19  track_unwrapped_2   1 non-null      float64
 20  Init separation     1 non-null      float64
 21  Init acimut         1 non-null      float64
 22  Var GS Module       1 non-null      float64
 23  Var Track           1 non-null      float64
 24  Var init altitude   1 non-null      float64
 25  Var Vertical speed  1 non-null      float64
dtypes: datetime64[ns, UTC](2), float64(22), object(2)
memory usage: 14.2+ MB

# 5. Aplicaci√≥n de CPA
El CPA se aplocar√° al objeto de Traffic del se viene inicialemente

In [15]:
vuelosp.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66743 entries, 0 to 66742
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       66743 non-null  int64
 1   Unnamed: 0.1     66743 non-null  int64
 2   alert            66743 non-null  bool
 3   altitude         66743 non-null  float64
 4   callsign         66743 non-null  object
 5   geoaltitude      66743 non-null  float64
 6   groundspeed      66743 non-null  float64
 7   hour             66743 non-null  datetime64[ns, UTC]
 8   icao24           66743 non-null  object
 9   last_position    66743 non-null  datetime64[ns, UTC]
 10  latitude         66743 non-null  float64
 11  longitude        66743 non-null  float64
 12  onground         66743 non-null  bool
 13  spi              66743 non-null  bool
 14  squawk           66743 non-null  float64
 15  timestamp        66743 non-null  datetime64[ns, UTC]
 16  track            66743 non-null  float64
 17  vertical_rate    66743 non-null  float64
 18  flight_id        66743 non-null  object
 19  track_unwrapped  66743 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(2), object(3)
memory usage: 8.8+ MB

In [22]:
vuelos = cargardatos(carpetaDatos,nombreDatos)

vuelos.data.drop(['Unnamed: 0','Unnamed: 0.1'],axis = 1, inplace = True)

In [23]:
vuelos.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66743 entries, 0 to 66742
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       66743 non-null  int64
 1   Unnamed: 0.1     66743 non-null  int64
 2   alert            66743 non-null  bool
 3   altitude         66743 non-null  float64
 4   callsign         66743 non-null  object
 5   geoaltitude      66743 non-null  float64
 6   groundspeed      66743 non-null  float64
 7   hour             66743 non-null  datetime64[ns, UTC]
 8   icao24           66743 non-null  object
 9   last_position    66743 non-null  datetime64[ns, UTC]
 10  latitude         66743 non-null  float64
 11  longitude        66743 non-null  float64
 12  onground         66743 non-null  bool
 13  spi              66743 non-null  bool
 14  squawk           66743 non-null  float64
 15  timestamp        66743 non-null  datetime64[ns, UTC]
 16  track            66743 non-null  float64
 17  vertical_rate    66743 non-null  float64
 18  flight_id        66743 non-null  object
 19  track_unwrapped  66743 non-null  float64
dtypes: bool(3), datetime64[ns, UTC](3), float64(9), int64(2), object(3)
memory usage: 8.8+ MB

In [25]:
CPA = vuelos.closest_point_of_approach(lateral_separation = 10*1852, vertical_separation = 2000)

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/algorithms/cpa.py:151: DeprecationWarning: The 'warn' function is deprecated, use 'warning' instead
  logging.warn("Defaulting to projection EuroPP()")
WARNING:root:Defaulting to projection EuroPP()

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=41.0, style=ProgressStyle(description_‚Ä¶

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=156.0, style=ProgressStyle(description‚Ä¶

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")

HBox(children=(FloatProgress(value=0.0, description='Combinations', max=72.0, style=ProgressStyle(description_‚Ä¶

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/traffic/core/mixins.py:358: UserWarning: The chosen projection is invalid for current shape
  warnings.warn("The chosen projection is invalid for current shape")

In [26]:
CPA

,timestamp,latitude_x,longitude_x,altitude_x,icao24_x,callsign_x,flight_id_x,latitude_y,longitude_y,altitude_y,icao24_y,callsign_y,flight_id_y,lateral,vertical
0,2019-01-01 10:39:11+00:00,42.982985,-2.876914,36000.0,4cab71,RYR8XV,RYR8XV_253,42.995041,-2.567479,38000.0,4ca8ab,RYR257,RYR257_246,13.645567,2000.0
1,2019-01-01 10:39:12+00:00,42.985062,-2.876629,36000.0,4cab71,RYR8XV,RYR8XV_253,42.994629,-2.566266,38000.0,4ca8ab,RYR257,RYR257_246,13.679168,2000.0
2,2019-01-01 10:39:13+00:00,42.987919,-2.876195,36000.0,4cab71,RYR8XV,RYR8XV_253,42.993878,-2.563869,38000.0,4ca8ab,RYR257,RYR257_246,13.757925,2000.0
3,2019-01-01 10:39:14+00:00,42.990005,-2.875927,36000.0,4cab71,RYR8XV,RYR8XV_253,42.993878,-2.563869,38000.0,4ca8ab,RYR257,RYR257_246,13.743225,2000.0
4,2019-01-01 10:39:15+00:00,42.990829,-2.875799,36000.0,4cab71,RYR8XV,RYR8XV_253,42.991504,-2.556545,38000.0,4ca8ab,RYR257,RYR257_246,14.058388,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,2019-01-02 13:16:55+00:00,43.069991,-3.103507,34000.0,3452c9,VLG3971,VLG3971_089,43.268005,-2.946955,36000.0,342091,IBE31GL,IBE31GL_014,13.723846,2000.0
24,2019-01-02 13:16:56+00:00,43.069199,-3.100760,34000.0,3452c9,VLG3971,VLG3971_089,43.270752,-2.946061,36000.0,342091,IBE31GL,IBE31GL_014,13.867876,2000.0
25,2019-01-02 13:16:57+00:00,43.068466,-3.098145,34025.0,3452c9,VLG3971,VLG3971_089,43.272400,-2.945513,36000.0,342091,IBE31GL,IBE31GL_014,13.948702,1975.0
26,2019-01-02 13:16:58+00:00,43.068466,-3.098145,34000.0,3452c9,VLG3971,VLG3971_089,43.273424,-2.945251,36000.0,342091,IBE31GL,IBE31GL_014,14.008088,2000.0
27,2019-01-02 13:16:59+00:00,43.066918,-3.092782,34000.0,3452c9,VLG3971,VLG3971_089,43.276062,-2.944400,36000.0,342091,IBE31GL,IBE31GL_014,14.136599,2000.0

In [27]:
pairs_CPA = paresconconflictos(CPA)

In [29]:
# Una vez que tenemos todas aquellas aeronaves que son pareja y tienen los datos hay que incluir los indicadores
Datos_fil_con = atos_fil
# Lo primero es generar una columna nueva que se llame conflictos en los datos filtrados que se rellene de 0
Datos_fil_con["Conflicto"] = 0
# Para la distancia ponemos un 10 como el peor caso
Datos_fil_con["MinDis"] = 10
# Para el tiempo ponemos un 10000 como hemos puesto en los otros para que no genere problema 
Datos_fil_con["Timetoconf"] = 10000

#Hay que construir una funci√≥n que detecte las parejas de aeronaves que tienen un conflicto y cambien el 0 a un 1

In [30]:
BBDD = mod_conflictos(pairs_CPA, Datos_fil_con)
# Una vez introducidos los conflictos comprobamos que estas filas lo cumplen
BBDD.loc[(BBDD['Conflicto'] == 1)]

Int64Index([69895], dtype='int64')

/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['Conflicto'][Datos_fil_con_ave1_ave2.index] = 1
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:226: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['MinDis'][Datos_fil_con_ave1_ave2.index] = Minsep
/Users/jaimebowen/OneDrive/TFGSeptiembre/libros/biblio_herramienta/conflictos.py:229: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Datos_final['Timetoconf'][Datos_fil_con_ave1_ave2.index] = TTC

,ave1,ave2,altitude_1,geoaltitude_1,groundspeed_1,latitude_1,longitude_1,timestamp_1,track_1,vertical_rate_1,...,track_unwrapped_2,Init separation,Init acimut,Var GS Module,Var Track,Var init altitude,Var Vertical speed,Conflicto,MinDis,Timetoconf
69895,UAL120_261,RYR2_208,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.24722,25334

In [31]:
BBDD_2 = BBDD
var_eliminar = ['ave1', 'ave2', 'groundspeed_1', 'timestamp_1', 'vertical_rate_1', 'track_1', 'altitude_2', 'geoaltitude_2',
                'latitude_2', 'longitude_2','timestamp_2','groundspeed_2','track_2','vertical_rate_2']
BBDD_2 = BBDD_2.drop(var_eliminar, axis = 'columns')

In [32]:
BBDD_2.loc[(BBDD_2['Conflicto'] == 1)]

,altitude_1,geoaltitude_1,latitude_1,longitude_1,track_unwrapped_1,track_unwrapped_2,Init separation,Init acimut,Var GS Module,Var Track,Var init altitude,Var Vertical speed,Conflicto,MinDis,Timetoconf
69895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.24722,25334

In [33]:
# Vamos a determinar losflujos de tr√°fico en los que se producen cruces
con = BBDD_2.loc[(BBDD_2['Conflicto'] == 1)]
columnas = ['cluster_1', 'cluster_2']
# Podemos obtener los flujos que han presentado alg√∫n conflicto, se trata de valores √∫nicos por lo que podr√≠amos trabajar solo con estos
flujos_con_cruce = con[columnas].drop_duplicates()
# Por ejemplo si quiero trabajar con un flujo en particular tengo que seleccionar los valorers de una columna
Flujo_1 = flujos_con_cruce.iloc[0]
# Donde Flujo_1 es el vector que contiene los flujos a considerar y Flujo_1['cluster_1'] y Flujo_2['cluster_2'] nos indica a que flujos pertenecen

KeyError: "None of [Index(['cluster_1', 'cluster_2'], dtype='object')] are in the [columns]"

In [ ]:
BBDD_Flujos = BBDD_2.loc[BBDD_2['cluster_1'] == Flujo_1['cluster_1']]
BBDD_Flujos = BBDD_Flujos.loc[BBDD_2['cluster_2'] == Flujo_1['cluster_2']]
BBDD_Flujos['cluster_2']

#############################################################################

CPA = vuelosp.closest_point_of_approach(lateral_separation = 10*1852, vertical_separation = 2000)

datos_fil = datosrellenados(datos1,datos2)

guardar(datos2,"Datos_ave2")

"""
def generadorDFconflictos(datos,pares):
    if not isinstance(datos,Traffic):
        datos = Traffic(datos)
    Datos_ave1 = datos.data.iloc[0:0]
    Datos_ave2 = datos.data.iloc[0:0]
    for index, row in pairs.iterrows():
        # Seleccionamos cada una de las aeronaves que aparecen en las parejas
        tray_ave1 = datos[row['ave1']].data
        tray_ave2 = datos[row['ave2']].data
        #Obtenemos los datos de entrada de cada aeronave
        init_values_ave1 = tray_ave1.iloc[0]
        init_values_ave2 = tray_ave2.iloc[0]
        # Metemos esta informaci√≥n en un DataFrame para cada aeronave
        Datos_ave1 = Datos_ave1.append(init_values_ave1)
        Datos_ave2 = Datos_ave2.append(init_values_ave2)
    return Datos_ave1, Datos_ave2
"""

def guardar(archivo, nombre_archivo ):
    # esta funciona genera una carpeta sino existe, y guarda los datos descargados en esta
    # guarda el archivo .csv en la carpeta especificada
    carpeta_datos_csv = r"datos_sectores/generacion_conflictos_prueba/"
    archivo.to_csv(carpeta_datos_csv+nombre_archivo+".csv")

def calculomagnitudesrelativas1(datos):
    # Toda la informaci√≥n que necesitamos para ssaber como funciona es https://living-sun.com/es/python/693845-geopy-calculating-gps-heading-bearing-python-python-3x-gps-geo-geopy.html
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        geo_calc = Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(geo_calc['s12']/1852)
        acimut.append(geo_calc['azi1'])

    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Init separation'] = dist2
    datos['Init acimut'] = acimut
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        data= Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(data['s12']/1852)
        acimut.append(data['azi1'])
    
    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Init separation'] = dist2
    datos['Init acimut'] = acimut
    from math import radians, sqrt, cos, sin

    Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_track = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
        track1, track2 = row['track_1'], row['track_2']
        # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
        Var_angle = track1 - track2
        # Calculamos la variaci√≥n de la velocidad en m√≥dulo
        vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
        vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
        Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
        # Introducimos los valores de velocidad relativa en m√≥dulo y de track
        Var_vel_mod.append(Var_vel)
        Var_track.append(Var_angle)
        # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    datos['Var GS Module'] = Var_vel_mod
    datos['Var Track'] = Var_track

    Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in datos.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
        alt1, alt2 = row['altitude_1'], row['altitude_2']
        hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
        # Calculamos la variaci√≥n de altitude y de velocidad vertical
        Var_alt = alt1 - alt2
        Var_speed = hspeed_1 - hspeed_2
        # Introducimos los valores de altitud y de velocidad relativa
        Var_altitude.append(Var_alt)
        Var_Vertical_speed.append(Var_speed)

    # Introducimos las variables de variaci√≥n de altitud y de vertical speed
    datos['Var init altitude'] = Var_altitude
    datos['Var Vertical speed'] = Var_Vertical_speed
    return datos

def calculomagnitudesrelativas(datos):
    Datos_fil = datos
    acimut = []
    dist2 = []
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        lat1, lon1 = row['latitude_1'], row['longitude_1']
        lat2, lon2 = row['latitude_2'], row['longitude_2']
        # Aplicamos la formula que nos dice y que nos proporciona todos los datos
        data= Geodesic.WGS84.Inverse(lat1, lon1, lat2, lon2)
        # Calculamos los valores de acimut (azi1) y de separacion (dist2)
        dist2.append(data['s12']/1852)
        acimut.append(data['azi1'])
    
    # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    Datos_fil['Init separation'] = dist2
    Datos_fil['Init acimut'] = acimut
    from math import radians, sqrt, cos, sin

    Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_track = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
        vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
        track1, track2 = row['track_1'], row['track_2']
        # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
        Var_angle = track1 - track2
        # Calculamos la variaci√≥n de la velocidad en m√≥dulo
        vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
        vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
        Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
        # Introducimos los valores de velocidad relativa en m√≥dulo y de track
        Var_vel_mod.append(Var_vel)
        Var_track.append(Var_angle)
        # La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
    # Introducimos la variable distance en el DataFrame
    Datos_fil['Var GS Module'] = Var_vel_mod
    Datos_fil['Var Track'] = Var_track

    Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
    Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
    # Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
    for index, row in Datos_fil.iterrows():
        # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
        alt1, alt2 = row['altitude_1'], row['altitude_2']
        hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
        # Calculamos la variaci√≥n de altitude y de velocidad vertical
        Var_alt = alt1 - alt2
        Var_speed = hspeed_1 - hspeed_2
        # Introducimos los valores de altitud y de velocidad relativa
        Var_altitude.append(Var_alt)
        Var_Vertical_speed.append(Var_speed)

    # Introducimos las variables de variaci√≥n de altitud y de vertical speed
    Datos_fil['Var init altitude'] = Var_altitude
    Datos_fil['Var Vertical speed'] = Var_Vertical_speed
    return Datos_fil

guardar(datos1,"Datos_ave1")

from math import radians, sqrt, cos, sin

Var_vel_mod = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
Var_track = []    # Variacion del track entre ambas aeronaves
# Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
for index, row in Datos_fil.iterrows():
    # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves, en este caso en ¬∫ y no en radianes
    vel1, vel2 = row['groundspeed_1'], row['groundspeed_2']
    track1, track2 = row['track_1'], row['track_2']
    # Calculamos la variaci√≥n del track de la ave 1 con respecto a la 2
    Var_angle = track1 - track2
    # Calculamos la variaci√≥n de la velocidad en m√≥dulo
    vel1_x, vel1_y = vel1*cos(radians(90-track1)), vel1 * sin(radians(90-track1))
    vel2_x, vel2_y = vel2*cos(radians(90-track2)), vel2 * sin(radians(90-track2))
    Var_vel = sqrt((vel1_x - vel2_x)**2 + (vel1_y - vel2_y)**2)
    # Introducimos los valores de velocidad relativa en m√≥dulo y de track
    Var_vel_mod.append(Var_vel)
    Var_track.append(Var_angle)
    
# La variable distance nos permite obtener la distancia en el instante inicial en el que entran las aeronaves (en NM)
# Introducimos la variable distance en el DataFrame
Datos_fil['Var GS Module'] = Var_vel_mod
Datos_fil['Var Track'] = Var_track

Var_altitude = []    # Variaci√≥n de la velocidad en m√≥dulo por cada par de aeronaves
Var_Vertical_speed = []    # Variacion del track entre ambas aeronaves
# Tenemos que calcular para cada pareja de aeronaves, es deir para cada fila:
for index, row in Datos_fil.iterrows():
    # Seleccionamos cada una de las posiciones que aparecen en cada fila de aeronaves
    alt1, alt2 = row['altitude_1'], row['altitude_2']
    hspeed_1, hspeed_2 = row['vertical_rate_1'], row['vertical_rate_2']
    # Calculamos la variaci√≥n de altitude y de velocidad vertical
    Var_alt = alt1 - alt2
    Var_speed = hspeed_1 - hspeed_2
    # Introducimos los valores de altitud y de velocidad relativa
    Var_altitude.append(Var_alt)
    Var_Vertical_speed.append(Var_speed)
    
# Introducimos las variables de variaci√≥n de altitud y de vertical speed
Datos_fil['Var init altitude'] = Var_altitude
Datos_fil['Var Vertical speed'] = Var_Vertical_speed

def datosrellenados(datos1,datos2):
    Datos_ave1 = datos1
    Datos_ave2 = datos2
    columnas = ["alert", "callsign", "hour", "icao24", "last_position", "onground", "spi", "squawk"]
    Datos_fil_ave1 = Datos_ave1.drop(columns = columnas)
    Datos_fil_ave2 = Datos_ave2.drop(columns = columnas)

    # Tenemos que reiniciar los indices para que coincidan
    Datos_fil_ave2.index = range(Datos_fil_ave2.shape[0])
    Datos_fil_ave1.index = range(Datos_fil_ave1.shape[0])

    # Lo vamos ambas en el mismo dataFrame y lo unimos finalmente con el pairs que contienen los pares de aeronaves
    Datos_fil = Datos_fil_ave1.join(Datos_fil_ave2, lsuffix= '_1', rsuffix = '_2')
    Datos_fil = pairs.join(Datos_fil)

    # Una vez comproado que funcion vamos a eliminar las columans de flight_id_1 y flight_id_2 para que no se repitan
    Datos_fil = Datos_fil.drop(columns = ['flight_id_1', 'flight_id_2'])
    return Datos_fil