In [1]:
import traffic
import pandas as pd 
import os
from traffic.core import Traffic
from biblio_herramienta.herramienta import *
from biblio_herramienta.tratardatos import *

In [2]:
carpetaDatos = r'datos_sectores/' # carpeta que contiene los datos
nombreDatos = r"bilbao_f_cluster.csv"
carpetaImagenes = r"generacion_conflictos/"

In [58]:
vuelos = cargardatos(carpetaDatos,nombreDatos)
vuelos = vuelos.data

Voy a dividir la muestra por días, realizar la operacion de reiniciado de días y luego unirla toda en una. Para simplificar el proceso, voy a tratar todo como un dataframe de padnas y no como objeto de traffic
* "2019-02-05",  fecha de inicia
* "2019-02-08",  fecha de parada

In [15]:
vuelos_dia1 = vuelos[(vuelos['timestamp']>= '2019-02-05' ) &(vuelos['timestamp'] < '2019-02-06')]
vuelos_dia2 = vuelos[(vuelos['timestamp']>= '2019-02-06' ) &(vuelos['timestamp'] < '2019-02-07')]

In [60]:
vuelos_dia3 = vuelos[(vuelos['timestamp']>= '2019-02-07' ) &(vuelos['timestamp'] < '2019-02-08')]
vuelos_dia3["timestamp"] = pd.to_datetime(vuelos_dia3["timestamp"].dt.strftime('%H:%M:%S'))
vuelos_dia3.data

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,alert,altitude,callsign,geoaltitude,groundspeed,hour,icao24,...,longitude,onground,spi,squawk,timestamp,track,vertical_rate,flight_id,track_unwrapped,cluster
0,840,1886933,13878,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.974840,False,False,2161.0,2020-08-23 17:12:06,187.314737,-64.0,IBE31AA_123,187.314737,3
1,841,1886945,13879,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975376,False,False,2161.0,2020-08-23 17:12:07,187.081212,-64.0,IBE31AA_123,187.081212,3
2,842,1886962,13880,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975612,False,False,2161.0,2020-08-23 17:12:08,186.950112,-64.0,IBE31AA_123,186.950112,3
3,843,1886967,13881,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975939,False,False,2161.0,2020-08-23 17:12:09,186.716705,-64.0,IBE31AA_123,186.716705,3
4,844,1886978,13882,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.976528,False,False,2161.0,2020-08-23 17:12:10,186.236442,-64.0,IBE31AA_123,186.236442,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680968,1226646,1566408,18906,False,40000.0,LGL60L,39725.0,433.0,2019-02-07 10:00:00+00:00,4d00c3,...,-3.894850,False,False,7473.0,2020-08-23 10:09:30,30.351597,0.0,LGL60L_1764,30.351597,6
680969,1226647,1566423,18907,False,40000.0,LGL60L,39725.0,434.0,2019-02-07 10:00:00+00:00,4d00c3,...,-3.893046,False,False,7473.0,2020-08-23 10:09:31,30.465545,0.0,LGL60L_1764,30.465545,6
680970,1226648,1566425,18908,False,40000.0,LGL60L,39725.0,434.0,2019-02-07 10:00:00+00:00,4d00c3,...,-3.893046,False,False,7473.0,2020-08-23 10:09:32,30.465545,0.0,LGL60L_1764,30.465545,6
680971,1226649,1566442,18909,False,40000.0,LGL60L,39725.0,433.0,2019-02-07 10:00:00+00:00,4d00c3,...,-3.890902,False,False,7473.0,2020-08-23 10:09:33,30.351597,-64.0,LGL60L_1764,30.351597,6
680972,1226650,1566452,18910,False,40000.0,LGL60L,39725.0,433.0,2019-02-07 10:00:00+00:00,4d00c3,...,-3.889618,False,False,7473.0,2020-08-23 10:09:34,30.351597,-64.0,LGL60L_1764,30.351597,6

In [63]:
vuelos_dia3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235684 entries, 0 to 680972
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       235684 non-null  int64
 1   Unnamed: 0.1     235684 non-null  int64
 2   Unnamed: 0.1.1   235684 non-null  int64
 3   alert            235684 non-null  bool
 4   altitude         235684 non-null  float64
 5   callsign         235684 non-null  object
 6   geoaltitude      235684 non-null  float64
 7   groundspeed      235684 non-null  float64
 8   hour             235684 non-null  datetime64[ns, UTC]
 9   icao24           235684 non-null  object
 10  last_position    235684 non-null  datetime64[ns, UTC]
 11  latitude         235684 non-null  float64
 12  longitude        235684 non-null  float64
 13  onground         235684 non-null  bool
 14  spi              235684 non-null  bool
 15  squawk           235684 non-null  float64
 16  timestamp        235684 non-null  datetime64[ns]
 17  track            235684 non-null  float64
 18  vertical_rate    235684 non-null  float64
 19  flight_id        235684 non-null  object
 20  track_unwrapped  235684 non-null  float64
 21  cluster          235684 non-null  int64
dtypes: bool(3), datetime64[ns, UTC](2), datetime64[ns](1), float64(9), int64(4), object(3)
memory usage: 36.6+ MB

In [47]:
import datetime

def origenmismoinstante(datos):
    datos = Traffic(datos)
    timestamp = pd.Series([])
    listado_aves = datos.data.flight_id.unique()
    for ave in listado_aves:
    # Seleccionamos la trayectoria de la aeronave y creamos una copia 
        tray = datos[ave].data
        tray2 = tray
        
        # Seleccionamos el instante de tiempo inicial
        init_time = tray.timestamp.iloc[0]
        # El instante inicial lo restamos, hay que tener cuidado con que no se convierta en timedelta ya que el formato es datetime
        tray2_timestamp = tray.timestamp - datetime.timedelta(hours = init_time.hour, minutes = init_time.minute, seconds = init_time.second)
        #Los nuevos timestamp los metemos en una columna que más tarde la cambiaremos para que coincida con todos los vuelos de la BBDD
        timestamp = timestamp.append(tray2_timestamp)
    datos.data.timestamp = timestamp
    return datos

In [48]:
vuelos_dia1 = origenmismoinstante(vuelos_dia1)

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """
/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [53]:
vuelop = origenmismoinstante(vuelos)

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

In [54]:
vuelop.data

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,alert,altitude,callsign,geoaltitude,groundspeed,hour,icao24,...,longitude,onground,spi,squawk,timestamp,track,vertical_rate,flight_id,track_unwrapped,cluster
0,840,1886933,13878,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.974840,False,False,2161.0,2019-02-07 00:00:00+00:00,187.314737,-64.0,IBE31AA_123,187.314737,3
1,841,1886945,13879,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975376,False,False,2161.0,2019-02-07 00:00:01+00:00,187.081212,-64.0,IBE31AA_123,187.081212,3
2,842,1886962,13880,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975612,False,False,2161.0,2019-02-07 00:00:02+00:00,186.950112,-64.0,IBE31AA_123,186.950112,3
3,843,1886967,13881,False,35025.0,IBE31AA,35000.0,487.0,2019-02-07 17:00:00+00:00,34264a,...,-3.975939,False,False,2161.0,2019-02-07 00:00:03+00:00,186.716705,-64.0,IBE31AA_123,186.716705,3
4,844,1886978,13882,False,35025.0,IBE31AA,35000.0,488.0,2019-02-07 17:00:00+00:00,34264a,...,-3.976528,False,False,2161.0,2019-02-07 00:00:04+00:00,186.236442,-64.0,IBE31AA_123,186.236442,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683501,1234818,527056,954,False,38725.0,N302AK,39350.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.638354,False,False,7466.0,2019-02-05 00:15:54+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683502,1234819,527066,955,False,38750.0,N302AK,39375.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.637765,False,False,7466.0,2019-02-05 00:15:55+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683503,1234820,527072,956,False,38775.0,N302AK,39400.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.637569,False,False,7466.0,2019-02-05 00:15:56+00:00,9.017394,1536.0,N302AK_1779,9.017394,4
683504,1234821,527075,957,False,38800.0,N302AK,39425.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.636853,False,False,7466.0,2019-02-05 00:15:57+00:00,9.138849,1472.0,N302AK_1779,9.138849,4
683505,1234822,527082,958,False,38825.0,N302AK,39450.0,466.0,2019-02-05 18:00:00+00:00,a326ca,...,-2.636457,False,False,7466.0,2019-02-05 00:15:58+00:00,9.138849,1472.0,N302AK_1779,9.138849,4

In [11]:


    
    

# Definimos la BBDD que ya tenemos preparada de anteriorida
vuelos_p = vuelos.data.copy()

# Para pasar la hora temporal de una aeroanve de toda su trayectoria de la hora normal a una hora, es necesario restarle el valor inicial 
#a toda la muestra
#Lista de flight_id en la BBDD

# primer cambio realizado: icao24
listado_aves = vuelos_p.flight_id.unique()
for ave in listado_aves:
    # Seleccionamos la trayectoria de la aeronave y creamos una copia
    tray = vuelos_p[ave]
    tray2 = tray
    # Seleccionamos el instante de tiempo inicial
    init_time = tray.timestamp.iloc[0]
    # El instante inicial lo restamos, hay que tener cuidado con que no se convierta en timedelta ya que el formato es datetime
    tray2_timestamp = tray.timestamp - datetime.timedelta(hours = init_time.hour, minutes = init_time.minute, seconds = init_time.second)
    #Los nuevos timestamp los metemos en una columna que más tarde la cambiaremos para que coincida con todos los vuelos de la BBDD
    timestamp = timestamp.append(tray2_timestamp)

# Cambiamos la nueva columna por la anterior de timestamp en la BBDD, con info comprobamos qu emantiene el formato datetime
vuelos_p.timestamp = timestamp
vuelos_p.info()

/Users/jaimebowen/opt/miniconda3/envs/tfgpaquetes/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

KeyError: '34264a'